<?xml version="1.0"?>
<!--
/**
 * Naxero.com
 * Professional ecommerce integrations for Magento
 *
 * PHP version 7
 *
 * @category  Magento2
 * @package   Naxero
 * @author    Platforms Development Team <contact@naxero.com>
 * @copyright Naxero.com
 * @license   https://opensource.org/licenses/mit-license.html MIT License
 * @link      https://www.naxero.com
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <naxero_mm>
            <general>
                <enabled>1</enabled>
            </general>
            <sitemap>
                <changefreq>daily</changefreq>
                <priotity>0.1</priotity>
            </sitemap>
        </naxero_mm> 
    </default>
</config>