<?xml version="1.0"?>
<!--
/**
 * Naxero.com
 * Professional ecommerce integrations for Magento.
 *
 * PHP version 7
 *
 * @category  Magento2
 * @package   Naxero
 * @author    Platforms Development Team <contact@naxero.com>
 * @copyright © Naxero.com all rights reserved
 * @license   https://opensource.org/licenses/mit-license.html MIT License
 * @link      https://www.naxero.com
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <!-- API Preferences -->
    <preference for="Naxero\MenuManager\Api\MenuInterface" type="Naxero\MenuManager\Model\Api\MenuEntity"/>
    <preference for="Naxero\MenuManager\Api\LinkInterface" type="Naxero\MenuManager\Model\Api\LinkEntity"/>

    <!-- Console commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="maxero.sitemap.generate" xsi:type="object">Naxero\MenuManager\Console\Command\Sitemap\Generate</item>
            </argument>
        </arguments>
    </type>

    <!-- Menu entity -->
    <virtualType name="Naxero\MenuManager\Model\ResourceModel\MenuEntity\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">naxero_menumanager_menus</argument>
            <argument name="resourceModel" xsi:type="string">Naxero\MenuManager\Model\ResourceModel\MenuEntity</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="naxero_menumanager_menu_index_data_source" xsi:type="string">Naxero\MenuManager\Model\ResourceModel\MenuEntity\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Link entity -->
    <virtualType name="Naxero\MenuManager\Model\ResourceModel\LinkEntity\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">naxero_menumanager_links</argument>
            <argument name="resourceModel" xsi:type="string">Naxero\MenuManager\Model\ResourceModel\LinkEntity</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="naxero_menumanager_link_index_data_source" xsi:type="string">Naxero\MenuManager\Model\ResourceModel\LinkEntity\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Sitemap entity -->
    <virtualType name="Naxero\MenuManager\Model\ResourceModel\SitemapEntity\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">naxero_menumanager_sitemaps</argument>
            <argument name="resourceModel" xsi:type="string">Naxero\MenuManager\Model\ResourceModel\SitemapEntity</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="naxero_menumanager_sitemap_index_data_source" xsi:type="string">Naxero\MenuManager\Model\ResourceModel\SitemapEntity\Collection</item>
            </argument>
        </arguments>
    </type>
</config>